@use 'global' as *;

.about {
  position: relative;

  .swiper-slide {
    width: rem(100);
    @include mq('md') {
      width: rem(200);
    }
  }
}

.about__inner {
  position: relative;
}

.about__wrapper {
  margin-inline: auto;
  padding: rem(40) rem(12);
  background-color: $white;
  border-radius: rem(24);
  max-width: rem(600);
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq('md') {
    max-width: rem(848);
  }
}

.about__container {
  max-width: rem(249);
  width: 100%;
  @include mq('md') {
    max-width: rem(620);
  }
}

.about__title {
  position: relative;
}

.about__title-left {
  content: "";
  position: absolute;
  background-image: url(../images/common/about_left.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: rem(80);
  height: rem(60);
  top: 0;
  left: calc(50% - min(48vw, 8rem));
  @include mq('md') {
    background-image: url(../images/common/about_title-left-pc.jpg);
    transform: rotate(-8deg);
    top: rem(12);
    left: calc(50% - min(48vw, 21rem));
    width: rem(134);
    height: rem(99.999);
  }
}

.about__title-right {
  content: "";
  position: absolute;
  background-image: url(../images/common/about_right.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: rem(80);
  height: rem(60);
  top: rem(-4);
  right: calc(50% - min(48vw, 8rem));
  @include mq('md') {
    background-image: url(../images/common/about_title-right-pc.jpg);
    transform: rotate(8deg);
    right: calc(50% - min(48vw, 21rem));
    width: rem(134);
    height: rem(100);
    top: rem(24);
  }
}

.about__mycrocopy {
  margin-top: rem(24);
  color: var(--LP-Blown, $blown);
  text-align: center;
  font-family: $base-font-family;
  font-size: rem(14);
  font-style: normal;
  font-weight: $bold;
  line-height: calc(22.4 / 14);
  @include mq('md') {
    margin-top: rem(38);
    font-size: rem(16);
    line-height: calc(25.6 / 16);
    white-space: nowrap;
  }
}

.about__mycrocopy span {
  display: inline-block;
}

.about__content {
  margin-top: rem(24);
  @include mq('md') {
    margin-top: rem(32);
  }
}

.about__content p {
  color: var(--LP-Blown, #4A3636);
  text-align: center;
  font-family: $base-font-family;
  font-size: rem(12);
  font-style: normal;
  font-weight: $regular;
  line-height: calc(19.2 / 12);
  @include mq('md') {
    font-size: rem(16);
    line-height: calc(25.6 / 16);
  }
}

.about__content p:not(:first-child) {
  margin-top: rem(19.2);
  @include mq('md') {
    margin-top: rem(25.6);
  }
}

.about__content-link {
  color: var(--LP-Blown, #4A3636);
  font-family: $base-font-family;
  font-size: rem(12);
  font-style: normal;
  font-weight: $regular;
  line-height: calc(19.2 / 12);
  text-decoration-line: underline;
  &:hover {
    transition: all 0.3s;
    color: $main;
    cursor: pointer;
  }
  @include mq('md') {
    font-size: rem(16);
    line-height: calc(25.6 / 16);
  }
}

.about__content-hashtag {
  color: var(--LP-Blown, #4A3636);
  font-family: $base-font-family;
  font-size: rem(12);
  font-style: normal;
  font-weight: $bold;
  line-height: calc(19.2 / 12);
  @include mq('md') {
    font-size: rem(16);
    line-height: calc(25.6 / 16);
  }
}

.about__present {
  margin-top: rem(24);
  margin-left: auto;
  margin-right: auto;
  width: rem(249);
  @include mq('md') {
    margin-top: rem(50);
    width: rem(356);
  }
}

.about__present p {
  display: inline-block;
  padding-bottom: rem(8);
  border-bottom: 2px dashed var(--LP-Blue, $main);
  color: var(--LP-Blown, #4A3636);
  text-align: center;
  font-family: $base-font-family;
  font-size: rem(14);
  font-style: normal;
  font-weight: $bold;
  line-height: calc(22.4 / 14);
  @include mq('md') {
    font-size: rem(20);
    line-height: calc(32 / 20);
  }
}

.about__button {
  margin-top: rem(24);
  margin-left: auto;
  margin-right: auto;
  width: rem(192);
  @include mq('md') {
    margin-top: rem(32);
    width: rem(260);
  }
}

.about__arrow {
  margin-left: auto;
  margin-right: auto;
  width: rem(100);
  @include mq('md') {
    width: rem(140);
  }
}

.about__logo {
  margin-top: rem(103.67);
  margin-inline: auto;
  padding-left: rem(10.68);
  padding-right: rem(9.68);
  position: relative;
  z-index: 1;
  @include mq('md') {
    margin-top: rem(112);
    max-width: rem(906.640);
    width: 100%;
  }
}

.about__swiper img {
  width: rem(100);
  height: rem(100);
  @include mq('md') {
    width: rem(200);
  height: rem(200);
  }
}

.about__swiper .swiper-wrapper{
  transition-timing-function: linear;
}


.about__bg-pawpads {
  content: "";
  position: absolute;
  top: rem(-8);
  right: calc(50% - min(50vw, 32rem));
  width: rem(54);
  height: rem(120);
  background-image: url(../images/common/about_bg_pawpads.png);
  background-repeat: no-repeat;
  background-size: contain;
  @include mq('md') {
    background-image: url(../images/common/about_bg_pawpads-pc.png);
    right: calc(50% - min(48vw, 37rem));
    width: rem(100);
    height: rem(220);
    top: rem(-80);
    z-index: 0;
  }
}

.about__bg-goods1 {
  content: "";
  position: absolute;
  bottom: rem(160);
  right: calc(50% - min(34vw, 32rem));
  width: rem(133);
  height: rem(65);
  background-image: url(../images/common/about_goods1.png);
  background-repeat: no-repeat;
  background-size: contain;
  @include mq('md') {
    background-image: url(../images/common/about_bg_goods1.png);
    bottom: rem(382);
    right: calc(50% - min(48vw, 43rem));
    width: rem(308);
    height: rem(151);
  }
}

.about__bg-goods2 {
  content: "";
  position: absolute;
  bottom: rem(218);
  right: calc(50% - min(44vw, 32rem));
  width: rem(48);
  height: rem(48);
  background-image: url(../images/common/about_bg_goods2.png);
  background-repeat: no-repeat;
  background-size: contain;
  @include mq('md') {
    background-image: url(../images/common/about_bg_goods2.png);
    bottom: rem(590);
    right: calc(50% - min(48vw, 38rem));
    width: rem(101);
    height: rem(100);
    z-index: 0;
  }
}

.about__bg-wavyline1 {
  @include mq('md') {
    content: "";
    position: absolute;
    top: rem(608);
    right: calc(5% - min(42vw, 42rem));
    width: rem(807);
    height: rem(15);
    background-image: url(../images/common/about_bg_wavyline.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}

.about__bg-wavyline2 {
  @include mq('md') {
    content: "";
    position: absolute;
    top: rem(640);
    right: calc(9% - min(42vw, 42rem));
    width: rem(807);
    height: rem(15);
    background-image: url(../images/common/about_bg_wavyline.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}

.about__bg-photo-left {
  content: "";
  position: absolute;
  top: rem(394);
  left: calc(57% - min(62vw, 32rem));
  width: rem(200);
  height: rem(200);
  background-image: url(../images/common/about_bg_photo-left.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  @include mq('md') {
    background-image: url(../images/common/about_bg_photo-left-pc.png);
    top: rem(72);
    left: calc(28% - min(50vw, 50rem));
    width: rem(480);
    height: rem(480);
  }
}

.about__bg-photo-right {
  content: "";
  position: absolute;
  top: rem(272);
  right: calc(57% - min(62vw, 32rem));
  width: rem(200);
  height: rem(200);
  background-image: url(../images/common/about_bg_photo-right.png);
  background-repeat: no-repeat;
  background-size: contain;
  overflow-x: hidden;
  @include mq('md') {
    background-image: url(../images/common/about_bg_photo-right-pc.png);
    top: rem(72);
    right: calc(31% - min(50vw, 50rem));
    width: rem(480);
    height: rem(480);
  }
}

.about__bg-diagonal-line {
  @include mq('md') {
    content: "";
    position: absolute;
    top: rem(-20);
    left: calc(49% - min(50vw, 48rem));
    width: rem(250);
    height: rem(250);
    background-image: url(../images/common/about_diagonal-line.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
  }
}

.about__bg-sakamichi {
  content: "";
  position: absolute;
  bottom: rem(-156);
  left: calc(50% - min(50vw, 32rem));
  width: rem(144);
  height: rem(433);
  background-image: url(../images/common/about_sakamichi.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  @include mq('md') {
    background-image: url(../images/common/about_sakamichi-pc.png);
    bottom: rem(142);
    left: calc(43% - min(50vw, 50rem));
    width: rem(427);
    height: rem(817);
  }
}