@use 'global' as *;

.about {
  position: relative;
}

.about::before {
  @include mq('md') {
    content: "";
    position: absolute;
    top: rem(28);
    left: calc(50% - min(86vw, 46rem));
    width: rem(250);
    height: rem(250);
    background-image: url(../images/common/about_diagonal-line.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.about::after {
  content: "";
  position: absolute;
  top: rem(28);
  right: calc(50% - min(50vw, 32rem));
  width: rem(54);
  height: rem(120);
  background-image: url(../images/common/about_bg_pawpads.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.about__inner {
  position: relative;
}

.about__inner::before {
  content: "";
  position: absolute;
  background-image: url(../images/common/about_content_left.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: rem(200);
  height: rem(200);
  top: rem(393);
  left: calc(50% - min(86vw, 42rem));
}

// .about__inner::after {
//   content: "";
//   position: absolute;
//   background-image: url(../images/common/about_content_right.jpg);
//   background-repeat: no-repeat;
//   background-size: contain;
//   width: rem(200);
//   height: rem(200);
//   top: rem(273);
//   right: calc(50% - min(86vw, 42rem));
//   overflow: hidden;
// }

.about__wrapper {
  padding: rem(40) rem(12);
  background-color: $white;
  border-radius: rem(24);
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq('md') {
    max-width: rem(848);
    margin-inline: auto;
  }
}

.about__container {
  max-width: rem(249);
  width: 100%;
  @include mq('md') {
    max-width: rem(620);
  }
}

.about__title {
  position: relative;
}

.about__title::before {
  content: "";
  position: absolute;
  background-image: url(../images/common/about_left.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: rem(80);
  height: rem(60);
  top: 0;
  left: calc(50% - min(48vw, 8rem));
  @include mq('md') {
    left: calc(50% - min(48vw, 16rem));
  }
}

.about__title::after {
  content: "";
  position: absolute;
  background-image: url(../images/common/about_right.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: rem(80);
  height: rem(60);
  top: rem(-4);
  right: calc(50% - min(48vw, 8rem));
  @include mq('md') {
    right: calc(50% - min(48vw, 16rem));
  }
}

.about__mycrocopy {
  margin-top: rem(24);
  color: var(--LP-Blown, $blown);
  text-align: center;
  font-family: $base-font-family;
  font-size: rem(14);
  font-style: normal;
  font-weight: $bold;
  line-height: calc(22.4 / 14);
  @include mq('md') {
    font-size: rem(16);
    line-height: calc(25.6 / 16);
  }
}

.about__content {
  margin-top: rem(24);
}

.about__content p {
  color: var(--LP-Blown, #4A3636);
  text-align: center;
  font-family: $base-font-family;
  font-size: rem(12);
  font-style: normal;
  font-weight: $regular;
  line-height: calc(19.2 / 12);
  @include mq('md') {
    font-size: rem(16);
    line-height: calc(25.6 / 16);
  }
}

.about__content p:not(:first-child) {
  margin-top: rem(19.2);
}

.about__content-underline {
  color: var(--LP-Blown, #4A3636);
  font-family: $base-font-family;
  font-size: rem(12);
  font-style: normal;
  font-weight: $regular;
  line-height: calc(19.2 / 12);
  text-decoration-line: underline;
  @include mq('md') {
    font-size: rem(16);
    line-height: calc(25.6 / 16);
  }
}

.about__content-hashtag {
  color: var(--LP-Blown, #4A3636);
  font-family: $base-font-family;
  font-size: rem(12);
  font-style: normal;
  font-weight: $bold;
  line-height: calc(19.2 / 12);
  @include mq('md') {
    font-size: rem(16);
    line-height: calc(25.6 / 16);
  }
}

.about__present {
  margin-top: rem(24);
  margin-left: auto;
  margin-right: auto;
  padding: rem(8) 0 ;
  width: rem(249);
  @include mq('md') {
    width: rem(356);
  }
}

.about__present p {
  display: inline-block;
  border-bottom: 2px dashed var(--LP-Blue, $main);
  color: var(--LP-Blown, #4A3636);
  text-align: center;
  font-family: $base-font-family;
  font-size: rem(14);
  font-style: normal;
  font-weight: $bold;
  line-height: calc(22.4 / 14);
  @include mq('md') {
    font-size: rem(20);
    line-height: calc(32 / 20);
  }
}

.about__button {
  margin-top: rem(24);
  margin-left: auto;
  margin-right: auto;
  width: rem(192);
  @include mq('md') {
    width: rem(260);
  }
}

.about__arrow {
  margin-left: auto;
  margin-right: auto;
  width: rem(100);
  @include mq('md') {
    width: rem(140);
  }
}

.about__sakamichi {
  background-image: url(../images/common/about_sakamichi.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: rem(216);
  height: rem(433);
  bottom: 0;
  left: 0;
}



.about__logo {
  margin-top: rem(103.67);
  margin-inline: auto;
  padding-left: rem(10.68);
  padding-right: rem(9.68);
  @include mq('md') {
    max-width: rem(890.640);
    width: 100%;
  }
}

.about__swiper img {
  width: rem(100);
  height: rem(100);
  @include mq('md') {
    width: rem(200);
  height: rem(200);
  }
}

.about__swiper .swiper-wrapper{
  transition-timing-function: linear;
}