@use "global" as *;

.enter {

}

.enter__inner {

}

.enter__title {

}

.enter__list {
  margin-top: rem(32);
  margin-inline: auto;
  @include mq('md') {
    margin-top: rem(40);
    display: flex;
    gap: rem(32);
    justify-content: center;
  }
}

.enter__item {
  text-align: center;
  width: 100%;
  @include mq('md') {
    max-width: rem(320);
  }
}

.enter__item:nth-child(2) {
  @include mq('md') {
    padding-top: rem(69);
    position: relative;
  }
}

.enter__item:nth-child(2)::before {
  @include mq('md') {
    content: "";
    position: absolute;
    width: rem(113);
    height: rem(24);
    top: 40%;
    transform: translateY(-50%);
    left: rem(-100);
    background-image: url(../images/common/enter-item_line-pc.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.enter__item:nth-child(2)::after {
  @include mq('md') {
    content: "";
    position: absolute;
    width: rem(113);
    height: rem(24);
    top: 40%;
    transform: translateY(-50%);
    right: rem(-80);
    background-image: url(../images/common/enter-item_line-pc.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.enter__item-image {
  min-width: rem(196);
  max-width: rem(280);
  aspect-ratio: 196 / 210;
  display: inline-block;
  @include mq('md') {
    aspect-ratio: 280 / 300;
  }
}

.enter__item-title {
  margin-top: rem(16);
  color: var(--LP-Blown, $blown);
  text-align: center;
  font-feature-settings: 'pref' on;
  font-family: $base-font-family;
  font-size: rem(16);
  font-style: normal;
  font-weight: $bold;
  line-height: calc(25.6 / 16);
  @include mq('md') {
    margin-top: rem(24);
    font-size: rem(20);
    line-height: calc(32 / 20);
  }
}

.enter__item-lead {
  margin-top: rem(16);
  text-align: center;
  color: var(--LP-Blown, $blown);
  text-align: center;
  font-feature-settings: 'pref' on;
  font-family: $base-font-family;
  font-size: rem(12);
  font-style: normal;
  font-weight: $regular;
  line-height: calc(19.2 / 12);
  white-space: nowrap;
  @include mq('md') {
    font-size: rem(16);
    line-height: calc(25.6 / 16);
  }
}

.enter__item-underline {
  color: var(--LP-Blown, $blown);
  text-align: center;
  font-feature-settings: 'pref' on;
  font-family: $base-font-family;
  font-size: rem(12);
  font-style: normal;
  font-weight: $regular;
  line-height: calc(19.2 / 12);
  text-decoration-line: underline;
  @include mq('md') {
    font-size: rem(16);
    line-height: calc(25.6 / 16);
  }
}

.enter__item-account {
  margin-top: rem(16);
  margin-inline: auto;
  padding:rem(8) rem(12);
  display: flex;
  align-items: center;
  gap: rem(8);
  width: rem(226);
  background: var(--LP-White, $white);
  @include mq('md') {
    width: rem(254);
  }
}

.enter__item-account span {
  width: rem(20);
  height: rem(20);
  display: inline-block;
  background-image: url(../images/common/enter-item_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  @include mq('md') {
    width: rem(24);
    height: rem(24);
  }
}

.enter__item-account p {
  color: var(--LP-Blown, #4A3636);
  text-align: center;
  font-family: $base-font-family;
  font-size: rem(14);
  font-style: normal;
  font-weight: $bold;
  line-height: calc(22.4 / 14);
  @include mq('md') {
    font-size: rem(16);
    line-height: calc(25.6 / 16);
  }
}

.enter__item-hash {
  color: var(--LP-Blown, $blown);
  font-family: $base-font-family;
  font-size: rem(12);
  font-style: normal;
  font-weight: $bold;
  line-height: calc(22.4 / 12);
  @include mq('md') {
    font-size: rem(16);
    line-height: calc(25.6 / 16);
  }
}

.enter__item-line {
  margin-top: rem(16);
  width: rem(7);
  height: rem(34);
  display: inline-block;
}

.enter__button {
  margin-top: rem(16);
  max-width: rem(437);
  margin-inline: auto;
  @include mq('md') {
    margin-top: rem(40);
  }
}