@use "global" as *;

.mv {
  background-color: $sub-blue-l;
  background-image: url(../images/common/mv-bgi-sp.jpeg);
  aspect-ratio: 375 /554;
  background-repeat: no-repeat;
  background-size: 100% 78%;
  position: relative;
  @include mq('md') {
    background-image: url(../images/common/mv-bgi-pc.jpeg);
    aspect-ratio: 1512 / 740;
    background-size: 100% 88.4%;
  }
}

.mv::after {
  content: "";
  position: absolute;
  bottom: rem(50);
  right: calc(50% - min(48vw, 16rem));
  background-image: url(../images/common/mv_cat1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.mv__header {
  position: relative;
}

.mv__header::before {
  content: "";
  position: absolute;
  background-image: url(../images/common/mv-fukidashi.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: rem(178);
  left: calc(50% - min(48vw, 16rem));
  width: rem(142);
  height: rem(80);
}

.mv__header::after {
  content: "";
  position: absolute;
  background-image: url(../images/common/mv-present.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: rem(170);
  right: calc(50% - min(48vw, 16rem));
  width: rem(110);
  height: rem(110);
}

.mv__lead {
  color: var(--LP-Blown, $blown);
  text-align: center;
  text-shadow: 0 0 rem(30) $white;
  font-family: $en-font-family-2;
  font-size: rem(14);
  font-style: normal;
  font-weight: $regular;
  line-height: calc(17.5 / 14);
}

.mv__title1 {
  margin-top: rem(20);
  text-align: center;
}

.mv__title1 img {
  width: rem(335);
  display: inline-block;
}

.mv__title2 {
  margin-top: rem(12);
  text-align: center;
}

.mv__title2 img {
  width: rem(240);
  display: inline-block;
}

.mv__smartphone {
  margin-top: rem(103);
  position: relative;
  @include mq('md') {
    margin-top: rem(33);
  }
}

.mv__smartphone::before {
  content: "";
  position: absolute;
  bottom: rem(-12);
  left: calc(50% - min(48vw, 16rem));
  width: rem(86);
  height: rem(141);
  background-image: url(../images/common/mv_food.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.mv__smartphone::after {
  content: "";
  position: absolute;
  right: calc(50% - min(48vw, 16rem));
  bottom: rem(-6);
  width: rem(108);
  height: rem(127);
  background-image: url(../images/common/mv_cat2.png),url(../images/common/mv_cat1.png);
  background-repeat: no-repeat, no-repeat;
  background-size: rem(98) rem(72), rem(62) rem(69);
  background-position-y: bottom , top;
  background-position-x: left, right;
}

.mv__smartphone-image {
  text-align: center;
}

.mv__smartphone-image img {
  display: inline-block;
  width: rem(200);
  height: rem(408);
  aspect-ratio: 200 / 408;
  @include mq('md') {
    width: rem(250);
    height: rem(510);
    aspect-ratio: 250 / 510;
  }
}

.mv__smartphone-content {
  width: rem(160);
  content: "";
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mq('md') {
    width: rem(200);
  }
}

.mv__smartphone-heading {
  border-radius: rem(12.8) rem(12.8) 0 0;
  padding: rem(6.4) rem(18.5);
  background: linear-gradient(265deg, #AC3790 -3.52%, #D65A5C 44.94%, #F4C06D 92.38%);
  color: var(--LP-White, $white);
  text-align: center;
  font-feature-settings: 'pref' on;
  font-family: $base-font-family;
  font-size: rem(12.8);
  font-style: normal;
  font-weight: $bold;
  line-height: calc(20.48 / 12.8);
}

.mv__smartphone-body {
  border-radius: 0 0 rem(12.8) rem(12.8);
  background-color: $white;
  padding: rem(12.8) rem(14);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mv__smartphone-apply {
  display: inline;
  padding-bottom: rem(0.8);
  border-bottom: rem(2.4) solid var(--LP-Red, $accent-red);
  color: var(--LP-Blown, $blown);
  font-family: $base-font-family;
  font-size: rem(12);
  font-style: normal;
  font-weight: $regular;
  line-height: calc(19.2 / 12);
}

.mv__smartphone-period {
  display: flex;
  align-items: flex-end;
  color: var(--LP-Blown, $blown);
  font-family: $base-font-family;
  font-size: rem(12);
  font-style: normal;
  font-weight: $bold;
  line-height: calc(19.2 / 12);
}

.mv__smartphone-button {
  margin-top: rem(12.8);
  text-align: center;
  width: 100%;
}






