@use "global" as *;

.mv {
  position: relative;
}

.mv__bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 150px);
  overflow: hidden;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  z-index: -1;
  @include mq('md') {
    height: calc(100% - 86px);
  }
}

.mv__bg-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  @include mq('md') {
    object-position: center top;
    vertical-align: middle;
  }
}

.mv__header {

}

.mv__lead {
  color: var(--LP-Blown, $blown);
  text-align: center;
  text-shadow: 0 0 rem(30) $white;
  font-family: $second-font-family;
  font-size: rem(14);
  font-style: normal;
  font-weight: $regular;
  line-height: calc(17.5 / 14);
  @include mq('md') {
    font-size: rem(24);
    line-height: calc(30 / 24);
  }
}

.mv__title1 {
  margin-top: rem(20);
  text-align: center;
  @include mq('md') {
    margin-top: rem(24);
  }
}

.mv__title1 img {
  width: rem(335);
  aspect-ratio: 335 / 53;
  display: inline-block;
  @include mq('md') {
    width: rem(520);
    aspect-ratio: 520 / 81.1;
  }
}

.mv__title2 {
  margin-top: rem(12);
  text-align: center;
  @include mq('md') {
    margin-top: rem(16);
  }
}

.mv__title2 img {
  width: rem(240);
  aspect-ratio: 240 / 40 ;
  display: inline-block;
  @include mq('md') {
    width: rem(356);
    aspect-ratio: 356 / 58.3;
  }
}

.mv__content {
  padding-top: rem(103);
  position: relative;
  @include mq('md') {
    padding-top: rem(26);
  }
}

.mv__content-treat1 {
  content: "";
  position: absolute;
  top: rem(10);
  left: calc(50% - min(48vw, 10.5rem));
  width: rem(142);
  height: rem(80);
  background-image: url(../images/common/mv-fukidashi.png);
  background-repeat: no-repeat;
  background-size: cover;
  @include mq('md') {
    width: rem(240);
    height: rem(125.969);
    background-image: url(../images/common/mv_fukidashi-pc.png);
    left: calc(50% - min(48vw, 24rem));
    top: rem(-8);
  }
}

.mv__content-treat2 {
  content: "";
  position: absolute;
  top: 0;
  right: calc(50% - min(48vw, 9rem));
  width: rem(110);
  height: rem(110);
  background-image: url(../images/common/mv-present.png);
  background-repeat: no-repeat;
  background-size: cover;
  @include mq('md') {
    top: rem(8);
    width: rem(180);
    height: rem(180);
    right: calc(50% - min(48vw, 18.5rem));
  }
}

.mv__content-treat3 {
  content: "";
  position: absolute;
  bottom: rem(-12);
  left: calc(50% - min(48vw, 10.5rem));
  width: rem(86);
  height: rem(141);
  background-image: url(../images/common/mv_food.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  @include mq('md') {
    width: rem(202);
    height: rem(332);
    left: calc(50% - min(48vw, 26.5rem));
  }
}

.mv__content-treat4 {
  content: "";
  position: absolute;
  bottom: rem(50);
  right: calc(50% - min(48vw, 10.5rem));
  width: rem(62);
  height: rem(69);
  background-image: url(../images/common/mv_cat1.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  @include mq('md') {
    width: rem(170);
    height: rem(190);
    bottom: rem(52);
    right: calc(50% - min(48vw, 22.5rem));
  }
}

.mv__content-treat5 {
  content: "";
  position: absolute;
  bottom: rem(-7);
  right: calc(50% - min(48vw, 10rem));
  width: rem(98);
  height: rem(72);
  background-image: url(../images/common/mv_cat2.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  @include mq('md') {
    width: rem(233);
    height: rem(174);
    bottom: rem(-54);
    right: calc(50% - min(48vw, 26rem));
  }
}

.mv__smartphone {
  position: relative;
}

.mv__smartphone-image {
  text-align: center;
}

.mv__smartphone-image img {
  display: inline-block;
  width: rem(200);
  aspect-ratio: 200 / 408;
  @include mq('md') {
    width: rem(250);
    aspect-ratio: 250 / 510;
  }
}

.mv__smartphone-content {
  width: rem(160);
  content: "";
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mq('md') {
    width: rem(200);
  }
}

.mv__smartphone-heading {
  border-radius: rem(12.8) rem(12.8) 0 0;
  padding: rem(6.4) rem(18.5);
  background: linear-gradient(265deg, #AC3790 -3.52%, #D65A5C 44.94%, #F4C06D 92.38%);
  color: var(--LP-White, $white);
  text-align: center;
  font-feature-settings: 'pref' on;
  font-family: $base-font-family;
  font-size: rem(12.8);
  font-style: normal;
  font-weight: $bold;
  line-height: calc(20.48 / 12.8);
  @include mq('md') {
    font-size: rem(16);
    line-height: calc(25.6 / 16);
  }
}

.mv__smartphone-body {
  border-radius: 0 0 rem(12.8) rem(12.8);
  background-color: $white;
  padding: rem(12.8) rem(14);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mq('md') {
    padding: rem(22) 0 rem(22);
  }
}

.mv__smartphone-apply {
  display: inline;
  padding-bottom: rem(0.8);
  border-bottom: rem(2.4) solid var(--LP-Red, $accent-red);
  color: var(--LP-Blown, $blown);
  font-family: $base-font-family;
  font-size: rem(12);
  font-style: normal;
  font-weight: $regular;
  line-height: calc(19.2 / 12);
  @include mq('md') {
    font-size: rem(14);
    line-height: calc(22.4 / 14);
  }
}

.mv__smartphone-period {
  display: flex;
  align-items: flex-end;
  color: var(--LP-Blown, $blown);
  font-family: $base-font-family;
  font-size: rem(12);
  font-style: normal;
  font-weight: $bold;
  line-height: calc(19.2 / 12);
  @include mq('md') {
    font-size: rem(16);
    line-height: calc(25.6 / 16);
  }
}

.mv__smartphone-button {
  margin-top: rem(12.8);
  text-align: center;
  width: 100%;
  @include mq('md') {
    margin-top: rem(16);
    width: rem(144);
  }
}








