@use 'global' as *;

.pc-nav {
 
}

.pc-nav__items {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.pc-nav__items li a {
  position: relative;
}

.pc-nav__items li.pc-nav__item a,
.pc-nav__items li a:hover {
  color: $sub-blue-d;
}

.pc-nav__items li a::after {
  content: '';
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: rem(16);
  left: 10%;
  /*線の形状*/
  width: 80%;
  height: 1px;
  background: $sub-blue-d;
  /*アニメーションの指定*/
  transition: all .3s;
  transform: scale(0, 1);/*X方向0、Y方向1*/
  transform-origin: center top;/*上部中央基点*/
}

/*現在地とhoverの設定*/
// .pc-nav__items li.pc-nav__item a::after,
.pc-nav__items li a:hover::after {
  transform: scale(1, 1);/*X方向にスケール拡大*/
}

.pc-nav__item,
.pc-nav__item a {
  height: inherit;
}

.pc-nav__item a {
  display: grid;
  place-content: center;
  place-items: center;
  text-align: center;
  padding: 0 min(1.4vw, rem(6));
  width: 100%;
}

.pc-nav__item-title {
  font-size: rem(12);
  font-weight: $regular;
  font-family: $base-font-family;
  line-height: calc(19.2 / 12);
  color: $blown;
  position: relative;
}

.pc-nav__button {
  padding-left: rem(10);
}