@use 'global' as *;

.pc-nav__items {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.pc-nav__item,
.pc-nav__item a {
  height: inherit;
}

.pc-nav__item a {
  display: grid;
  place-content: center;
  place-items: center;
  text-align: center;
  padding: 0 min(1.4vw, rem(6));
  width: 100%;
}

.pc-nav__item-title {
  font-size: rem(12);
  font-weight: $regular;
  font-family: $base-font-family;
  line-height: calc(19.2 / 12);
  color: $blown;
  transition: all 0.3s;
  position: relative;
}

.pc-nav__item:hover .pc-nav__item-title {
  color: $sub-blue-d;
  text-decoration: underline;
  text-underline-offset: rem(4);
}

.pc-nav__button {
  padding-left: rem(10);
}