@use "global" as *;

.prizes-cards {
  display: grid;
  column-gap: rem(15);
  row-gap: rem(15);
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  @include mq('md') {
    grid-template-columns: repeat(3, 1fr);
    column-gap: rem(32);
    row-gap: rem(40);
  }
}