@use "global" as *;

.prizes-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: rem(15);
  column-gap: rem(15);
  @include mq('md') {
    row-gap: rem(40);
    column-gap: rem(32);
  }
}
