@use 'global' as *;

.sp-nav {
  position: absolute;
  display: none;
  top: rem(79);
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: $white;
  z-index: 2;
}

.sp-nav.is-active {
  display: block;
}

.sp-nav__inner {
  height: inherit;
  overflow: scroll;
}

.sp-nav__items {
  display: grid;
  justify-content: center;
  padding-top: rem(66);
  padding-bottom: rem(148);
  min-height: 100vh;
  z-index: 300;
}

.sp-nav__item {
  width: 100%;
  text-align: center;
}

.sp-nav__item a {
  display: inline-block;
  font-size: rem(14);
  color: $blown;
  font-family: $base-font-family;
  font-weight: $regular;
  line-height: calc(22.4 / 14);
  height: inherit;
}

.sp-nav__button {
  text-align: center;
}
